name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Heroku buildpacks
        run: |
          curl -sf -X PUT "https://api.heroku.com/apps/${{ secrets.HEROKU_APP_NAME }}/buildpack-installations" \
            -H "Accept: application/vnd.heroku+json; version=3" \
            -H "Content-Type: application/json" \
            -H "Authorization: Bearer ${{ secrets.HEROKU_API_KEY }}" \
            -d '{"updates":[{"buildpack":"https://github.com/heroku/heroku-buildpack-nodejs"},{"buildpack":"https://github.com/heroku/heroku-buildpack-php"}]}'

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.14.15
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
          branch: main
